<div class="page-header" ng-controller="eduDropCtrl">

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">{{data}}</a>
        </h4>
      </div>

      <div id="collapse1" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item"><a href="/article/What_is_sexual_assault">What is sexual assault?</a></li>
          <li class="list-group-item"><a href="/article/Intimate_Partner_Sexual_Violence">Intimate Partner Sexual Violence</a></li>
          <li class="list-group-item"><a href="/article/Intimate_Partner_Sexual_Violence">Intimate Partner Sexual Violence</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
