<!--<div class="page-header">
  <h1>Hello {{primary.name}} from community</h1>
</div>-->

<h1 class="page-header">Community</h1>

<button type="button" name="button" class="btn btn-warning" ng-click="comm.newPost();" ng-hide="!comm.hide">Create Post</button>

<button type="button" name="button" class="btn btn-warning" ng-click="comm.getPosts();" ng-hide="!comm.hide">Get Posts</button>

<br>
<br>

<form name="regForm" ng-submit="comm.createPost(createData);" ng-hide="comm.hide" novalidate>
  <label>Title:</label>
  <input class="form-control" id="title" type="text" autocomplete="off" name="title" placeholder="Post Title" ng-model="comm.createData.title" required>
  <p class="help-block" ng-show="(!regForm.title.$pristine && regForm.title.$error.required) ||
    (regForm.$submitted && regForm.title.$error.required)">This field is required</p>
  <br>

  <label>Post:</label>
  <textarea class="form-control" id="bodyInfo" rows="8" cols="80" name="bodyInfo" ng-model="comm.createData.bodyInfo" required></textarea>
  <p class="help-block" ng-show="(!regForm.bodyInfo.$pristine && regForm.bodyInfo.$error.required) ||
    (regForm.$submitted && regForm.bodyInfo.$error.required)">This field is required</p>
  <br>

  <button class="btn btn-primary" type="submit">Submit</button>
  <button type="button" name="button" class="btn btn-danger" ng-click="comm.cancelPost();">Cancel</button>
</form>

<div class="row show-hide-message" ng-show="comm.successMsg">
  <div class="alert alert-success">{{comm.successMsg}}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="comm.errorMsg && !comm.hide">
  <div class="alert alert-danger">{{comm.errorMsg}}</div>
</div>

<div class="row show-hide-message" ng-show="comm.errorMess">
  <div class="alert alert-danger">{{comm.errorMess}}</div>
</div>


<div ng-hide="!comm.hide">
  <div class="panel panel-primary" ng-repeat="post in recentPosts">

    <div class="panel-heading">
      <h3 class="panel-title">{{post.title}}</h3>
    </div>

    <div class="panel-body">
      {{post.bodyInfo}}
    </div>

    <div class="panel-footer">
      <p><strong>Posted by: </strong>{{post.createdBy}}</p>
      <p><strong>Posted: </strong>{{post.createdAt}}</p>
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" name="button" class="btn btn-sm btn-warning" ng-click="comm.createComment()">Comment</button>
        <br/>

        <!--<form>
          <textarea name="comment" rows="10" cols="30" class="form-control"></textarea>
          <button type="button" name="button" class="btn btn-sm btn-info">Submit</button>
          <button type="button" name="button" class="btn btn-sm btn-info">Cancel</button>
        </form> -->
      </li>
    </ul>
  </div>
</div>
