<!--<div class="page-header">
  <h1>Hello {{primary.name}} from community</h1>
</div>-->

<h1 class="page-header">Community</h1>

<button type="button" name="button" class="btn btn-warning" ng-click="comm.newPost();" ng-hide="!comm.hide">Create Post</button>

<button type="button" name="button" class="btn btn-warning" ng-click="comm.getPosts();" ng-hide="!comm.hide">Refresh Posts</button>

<br>
<br>

<form name="regForm" ng-submit="comm.createPost(createData);" ng-hide="comm.hide" novalidate>
  <label>Title:</label>
  <input class="form-control" id="title" type="text" autocomplete="off" name="title" placeholder="Post Title" ng-model="comm.createData.title" required>
  <p class="help-block" ng-show="(!regForm.title.$pristine && regForm.title.$error.required) ||
    (regForm.$submitted && regForm.title.$error.required)">This field is required</p>
  <br>

  <label>Post:</label>
  <textarea class="form-control" id="bodyInfo" rows="8" cols="80" name="bodyInfo" ng-model="comm.createData.bodyInfo" required></textarea>
  <p class="help-block" ng-show="(!regForm.bodyInfo.$pristine && regForm.bodyInfo.$error.required) ||
    (regForm.$submitted && regForm.bodyInfo.$error.required)">This field is required</p>
  <br>

  <button class="btn btn-primary" type="submit">Submit</button>
  <button type="button" name="button" class="btn btn-danger" ng-click="comm.cancelPost();">Cancel</button>
</form>

<div class="row show-hide-message" ng-show="comm.successMsg">
  <div class="alert alert-success">{{comm.successMsg}}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="comm.errorMsg && !comm.hide">
  <div class="alert alert-danger">{{comm.errorMsg}}</div>
</div>

<div class="row show-hide-message" ng-show="comm.errorMess">
  <div class="alert alert-danger">{{comm.errorMess}}</div>
</div>


<div ng-hide="!comm.hide">
  <div class="panel panel-primary" ng-repeat="post in recentPosts">

    <div class="panel-heading">
      <h3 class="panel-title">{{post.title}}</h3>
    </div>

    <div class="panel-body">
      {{post.bodyInfo}}
    </div>

    <div class="panel-footer">
      <p class="panel-footer-text"><strong>Posted by: </strong>{{post.createdBy}}</p>
      <p class="panel-footer-text"><strong>Posted: </strong>{{post.createdAt | date: 'MMM dd, yyyy'}}</p>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" name="button" class="btn btn-sm btn-warning" ng-click="comm.draftComment(post._id)">Comment</button>
        <br/>

        <div ng-show="comm.newComment.indexOf(post._id) > -1">
          <br>
          <form name="commentForm" id="commentForm" ng-submit="comm.createComment(commentData);">
            <textarea class="form-control" id="commentBody" rows="8" cols="80" name="commentBody" ng-model="comm.commentData.comment" required></textarea>
            <p class="help-block" ng-show="(!commentForm.commentBody.$pristine && commentForm.commentBody.$error.required) ||
              (commentForm.$submitted && commentForm.commentBody.$error.required)">This field is required</p>

            <br>

            <button class="btn btn-primary" type="submit">Submit</button>
            <button type="button" name="button" class="btn btn-danger" ng-click="comm.cancelComment();">Cancel</button>

            <br>
            <br>

            <div class="row show-hide-message" ng-show="comm.commentError">
              <div class="alert alert-danger">{{comm.commentError}}</div>
            </div>

          </form>
        </div>
      </li>
    </ul>

    <li class="list-group-item" ng-repeat="comment in post.comments">
      <strong>{{comment.commentor}}:</strong> {{comment.comment}}
    </li>

  </div>
</div>
