<div class="page-header">
  <h1>Welcome to education</h1>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Types of sexual assault</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item"><a href="/article">What is sexual assault?</a></li>
          <li class="list-group-item"><a href="/article">Intimate Partner Sexual Violence</a></li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          Effects of Sexual Violence</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item"><a href="/article">Depression</a></li>
          <li class="list-group-item"><a href="/article">Flashbacks</a></li>
          <li class="list-group-item"><a href="/article">Post-Traumatic Stress Disorder</a></li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          Understanding Consent</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item"><a href="/article">What Consent Looks Like</a></li>
          <li class="list-group-item"><a href="/article">Legal Role of Consent</a></li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Statutes of Limitations</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item"><a href="/article">Wisconsin</a></li>
          <li class="list-group-item"><a href="/article">Illinois</a></li>
          <li class="list-group-item"><a href="/article">Minnesota</a></li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Resources</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <ul class="list-group">
            <li class="list-group-item"><a href="/resources">University of Wisconsin-Madison Campus Resources</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
