<div class="page-header">
  <h1>Welcome to education</h1>
  <h4>Types of Sexual Violence:</h4>
  <ul>
    <li><a href="/article">What is sexual assault?</a></li>
    <li><a href="/article">Intimate Partner Sexual Violence</a></li>
  </ul>
  <h4>Effects of Sexual Violence:</h4>
  <ul>
    <li><a href="/article">Depression</a></li>
    <li><a href="/article">Flashbacks</a></li>
    <li><a href="/article">Post-Traumatic Stress Disorder</a></li>
  </ul>
  <h4>Understanding Consent:</h4>
  <ul>
    <li><a href="/article">What Consent Looks Like</a></li>
    <li><a href="/article">Legal Role of Consent</a></li>
  </ul>
  <h4>Statutes of Limitations:</h4>
  <ul>
    <li><a href="/article">Wisconsin</a></li>
    <li><a href="/article">Illinois</a></li>
    <li><a href="/article">Minnesota</a></li>
  </ul>
  <h4>Resources:</h4>
  <ul>
    <li><a href="/resources">University of Wisconsin-Madison Campus Resources</a></li>
  </ul>

</div>
