<!DOCTYPE html>
<html>
<body>

<h1>Resources Page</h1>

<div>
  <h3>Victim advocacy, 24-hour support, and counseling</h3>

  <p>
  Whether you need support now or years after experiencing sexual assault or dating violence,
  confidential help is available 24 hours a day.
  </p>

  <p>
    <bold>UHS Survivor Services</bold> provides free victim advocacy and confidential support to UW-Madison student victim/survivors of sexual assault, dating violence, domestic violence, and/or stalking. Our staff can provide emotional support, assist with arranging academic and housing accommodations, can provide information about reporting options, and support survivors in deciding what is most helpful for them. Please note that UHS Survivor Services does NOT operate a 24-hour crisis line.
    <br/>
    <br/>
      333 East Campus Mall, 8th floor <br/>
      608-265-5600 (Option 3) <br/>
      survivorservices@uhs.wisc.edu <br/>
      uhs.wisc.edu/survivor <br/>
    <br/>
  </p>

  <p>
    <bold>The Rape Crisis Center</bold> is a community agency providing free and confidential services for survivors of all forms of sexual violence, including medical and legal advocacy, support groups, short-term counseling, and community education. Chimera self-defense classes are available for a small fee.
    <br/>
    <br/>
    24-Hour Crisis Line: 608-251-7273 <br/>
    Campus Location: 608-265-6389 <br/>
    Community Office: 608-251-5126 <br/>
    <br/>
  </p>

  <p>
    Domestic Abuse Intervention Services is an off-campus community agency providing free and confidential services for survivors of dating/domestic violence, stalking, including emergency shelter, legal advocacy, community education, and support groups.
    <br/>
    <br/>
    24-Hour Help Lines <br/>
    608-251-4445 <br/>
    or <br/>
    800-747-4045 <br/>
    <br/>
  </p>

  <p>
    UHS Mental Health Services provides confidential on-campus mental health resource for UW–Madison students, providing individual, couple/partner, and group counseling.
    <br/>
    <br/>
    608-265-5600 (option 2) <br/>
    333 East Campus Mall, Floor 7 <br/>
    24-Hour Crisis Services: 608-265-5600 (option 9) <br/>
    <br/>
  </p>
</div>
<div>
  <h3>Medical options</h3>
  <p>
    If you have been sexually assaulted, or are not sure, there are several ways to get support from the Women's Health Clinic.
    <br/>
    <br/>
    Make an appointment at the Women's Health Clinic either online via MyUHS (select "unwanted sexual encounter/sexual assault" as visit type) or by calling 608-265-5600 (option 1).
    <br/>
    <br/>
    Speak to a nurse directly about options following sexual assault by calling 608-852-9533 during UHS open hours (M-F 8:30 am -5 pm). You may remain anonymous if you prefer. After 5 pm, you may call the UHS Crisis Line at 608-265-5600 (option 9) or the Rape Crisis Center 24-hour line at 608-251-7273 for support.
    <br/>
    <br/>
    Drop-in to the Women's Health Clinic on the 6th floor during clinic hours (M-F, 9 am-5 pm) and ask to talk to the nurse.
    <br/>
    <br/>
    Many students are sexually assaulted while intoxicated and are not sure exactly what happened or which resources they need. UHS is a confidential, non-judgmental place for students of all genders to discuss options, regardless if they were drinking. UHS can review the risk of pregnancy, STIs, and physical injuries with the student, and provide more information about reporting options, emotional support, and academic accommodations.
    <br/>
  </p>

  <p>
    UHS Medical Services offers confidential medical services for students affected by sexual assault and dating violence including treatment of injuries, emergency contraception, pregnancy testing, HIV testing and counseling, and screening and treatment of other STIs. The UHS Women's Health clinic offers support to students who have experienced an unwanted sexual encounter. UHS does not perform forensic (“rape kit”) examinations; those are done by UnityPoint Health--Meriter's Forensic Nurse Examiner Program.
    <br/>
    <br/>
      608-265-5600 <br/>
      333 East Campus Mall, Floors 5 and 6 <br/>
      uhs.wisc.edu <br/>
      24-Hour Nurse Line: 608-265-5600 (option 1) <br/>
    <br/>
  </p>
</div>
<div>
  <h3>Reporting options</h3>
  <p>
    All reports made to UW-Madison will be taken seriously and investigated thoroughly. Sexual assault, intimate partner violence, and stalking are forms of gender discrimination and violations of Title IX, Wisconsin state law, and UW System Administrative Code. For more information about campus investigation policies, see the most recent Annual Security and Fire Safety Report. You have the right to be accompanied by a victim advocate or any person of your choosing if you report to any of the following offices.
  </p>
</div>
<div>
  <h3>Population-specific services</h3>
  <p>
    These agencies provide culturally-specific and relevant services with highly trained and skilled staff.
  </p>
</div>
<div>
  <h3>Legal assistance</h3>
  <p>
    UW-Madison does not provide legal assistance or attorneys to individual students. There are legal resources available in the Madison community.
  </p>
</div>
<div>
  <h3>More information</h3>
  <p>
    University Housing can offer different housing accommodations upon request when it is reasonable to do so for students who live in University Housing. UW-Madison is obligated to comply with a victim’s request for a living situation change following an alleged sex offense if it is reasonably available, regardless of whether a victim chooses to report the crime to campus or local law enforcement. Contact your House Fellow or a Housing staff member. Please be aware that if you report sexual assault, domestic violence, dating violence and/or stalking to University Housing when requesting assistance, UW-Madison may be obligated to initiate a Title IX hostile environment or disciplinary action investigation.
  </p>
</div>

<!--
<div id="text">
  <p><iframe src="https://cdn.rawgit.com/amgreenstreet/BeliefMeToo/master/public/articles/resources.txt"
    frameborder="0" height="800" width="95%"></iframe></p>
</div>
-->
</body>
</html>
