<div class="page-header">
  <h1>Create New User</h1>
</div>

<form name="regForm" ng-submit="create.createUser(createData);" novalidate>
  <label>Email:</label>
  <input class="form-control" type="text" name="email" placeholder="tmasse@gmail.com" ng-model="create.createData.email" required>
  <p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) ||
    (regForm.$submitted && regForm.email.$error.required)">This field is required</p>
  <br>

  <label>Name:</label>
  <input class="form-control" type="text" name="name" placeholder="Taylor Masse" ng-model="create.createData.name" required>
  <p class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.required) ||
    (regForm.$submitted && regForm.name.$error.required)">This field is required</p>
  <br>

  <label>Password:</label>
  <input class="form-control" type="password" name="password" placeholder="password" ng-model="firstPassword" required>
  <p class="help-block" ng-show="(!regForm.password.$pristine && regForm.password.$error.required) ||
    (regForm.$submitted && regForm.password.$error.required)">This field is required</p>
  <br>

  <label>Confirm Password:</label>
  <input class="form-control" type="password" name="secondPassword" placeholder="password" ng-model="confirm" match="{{[firstPassword]}}"
    ng-change="create.createData.password = confirm" required>
  <p ng-show="!confirmed && !regForm.secondPassword.$pristine">Passwords do not match</p>
  <br>

  <button class="btn btn-primary" id="createButton" type="submit">Create New User</button>
</form>

<br>

<div class="jumbotron text-center" ng-show="create.loading">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>Loading...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="create.successMsg">
  <div class="alert alert-success">{{create.successMsg}}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="create.errorMsg">
  <div class="alert alert-danger">{{create.errorMsg}}</div>
</div>
<br>
